<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <kamephis_avatar>
            <gravatar>
                <default>robohash</default>
                <size>80</size>
            </gravatar>
        </kamephis_avatar>
    </default>
</config>
