<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="kamephis_avatar" frontName="kamephis_avatar">
            <module name="Kamephis_Avatar" />
        </route>
    </router>
</config>
