<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Kamephis_Avatar::menu"
             title="Kamephis" module="Kamephis_Avatar"
             sortOrder="10"
             resource="Kamephis_Avatar::menu"
        />
        <add id="Kamephis_Avatar::avatar"
             title="Magento Avatar"
             module="Kamephis_Avatar"
             sortOrder="20"
             parent="Kamephis_Avatar::menu"
             action="adminhtml/system_config/edit/section/kamephis_avatar"
             resource="Magento_Config::config"
        />
    </menu>
</config>
