<?xml version="1.0"?>
<!--
/**
 * @category  Kamephis
 * @package   Kamephis/Avatar
 * @author    marlon <info@boehland.one>
 * @copyright Copyright (c) 2022 Marlon Boehland, Inc (https://www.boehland.one)
 * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="kamephis" sortOrder="0" class="kamephis-tab">
            <label>Kamephis</label>
        </tab>
        <section id="enable_avatar" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <class>separator-top</class>
            <label>Custom Avatars</label>
            <tab>kamephis</tab>
            <resource>Kamephis_Avatar::config</resource>
            <group id="options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable custom avatars</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_endpoint" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Endpoint</label>
                    <comment>API URL of a translation service</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="api_token" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Token</label>
                    <comment>API Token: Bearer, key etc.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
