<?xml version="1.0"?>
<!--
/**
 * @category  Kamephis
 * @package   Kamephis/Avatar
 * @author    marlon <info@boehland.one>
 * @copyright Copyright (c) 2022 Marlon Boehland, Inc (https://www.boehland.one)
 * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="kamephis" sortOrder="0" class="kamephis-tab">
            <label>Kamephis</label>
        </tab>

        <section id="kamephis_avatar" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Kamephis Avatar</label>
            <tab>kamephis</tab>
            <resource>Kamephis_Avatar::config_kamephis_avatar</resource>
            <group id="options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Customer Avatars</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Gravatar Settings</label>
                <field id="type" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Gravatar Type</label>
                    <comment>Select the default Gravatar type to use if the customer does not have a Gravatar account.</comment>
                    <source_model>Kamephis\Avatar\Model\Config\Source\AvatarTypes</source_model>
                </field>

                <field id="size" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Gravatar Size</label>
                    <comment>Enter the default size (in pixels) for the Gravatar image.</comment>
                    <validate>required-entry validate-number validate-zero-or-greater</validate>
                </field>

                <field id="timezone" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Timezone</label>
                    <source_model>Kamephis\Avatar\Model\Config\Source\Timezone</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
